.social-button-bg {
  padding: 0.5rem;
  background-color: #81afdd;
  border-radius: 50px;
}

@media (min-width: 768px) {
  .social-button-bg {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.social-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  width: 2.5rem;
  height: 2.5rem;
}

#github {
  border-radius: 50px;
}

#linkedin {
  border-radius: 4px;
}

.social-button:hover {
  color: #0575fd;
  background-color: black;
}
