.app__header {
  display: flex;
  flex-direction: row;
}

.app__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.app__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.app__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);

  margin-top: 1.5rem;
}

.social-buttons {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: row;
}

.animation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40%;
}

@media screen and (max-width: 1050px) {
  .app__header {
    flex-direction: column;
  }

  .app__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .app__header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .app__header-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .app__header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .app__header-content p {
    font-size: 14px;
    line-height: 24px;
  }

  .app__header-content__input input,
  .app__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}
